html {
  height: 100%;
}

body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-image: url("https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/v760-toon-92_1.jpg?auto=format&bg=transparent&con=3&cs=srgb&dpr=1&fm=jpg&ixlib=php-3.1.0&mark=rawpixel-watermark.png&markalpha=90&markpad=13&markscale=10&markx=25&q=75&usm=15&vib=3&w=1600&s=f7a38e93dd8475b3297de8f36ddcc799");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #ff8851;
}

#output {
  display: none;
  font-size: large;
}

button.btn {
  width: 100%;
  margin-top: 2%;
  border: 1px solid #ff8851;
  color: #ff8851;
  font-weight: bold;
}

button.btn:hover {
  width: 100%;
  margin-top: 2%;
  color: #f5f5f5;
  background-color: #7c0072;
  border: 1px solid #f5f5f5;
}

label {
  margin-left: 5%;
}

input.form-control {
  background-color: transparent;
  color: #ff8851;
  border: 1px solid #ff8851;
}

input.form-control:focus {
  background-color: transparent;
  color: #ff8851;
  border: 1px solid #ff8851;
}

.jumbotron {
  margin-top: 8%;
  text-align: center;
  color: #7c0072;
  -webkit-text-stroke-color: #f5f5f5;
  -webkit-text-stroke-width: 1px;
  background-color: transparent;
  border: 2px solid #ff8851;
}

.jumbotron h1 {
  font-size: 3em;
  font-weight: bolder;
}

.card {
  padding: 5%;
  background-color: transparent;
  border: 2px solid #ff8851;
}

form {
  padding: 10%;
}

h3 {
  margin-top: 5%;
  font-weight: bold;
  color: #b4f5fd;
  -webkit-text-stroke-color: #000000;
  -webkit-text-stroke-width: 1px;
}

a {
  color: #ff8851;
  font-weight: bold;
}